.welcome {
   padding-top: 20%;
  
}



.name-input {
    width: 50%;
    height: 30px;
    border: solid #FFAAEA;
    border-radius: 10px;
    outline: none;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 15px;
    text-align: center;
    background-color: #83D4D4;
    color: #E9F4F8;
}

.name-input::placeholder {
    color: #E9F4F8;
}

 .q1 {
   
    margin-top: 150px;
    margin-bottom: 20px;
    font-size: 15px;
    text-align: center;
   
    color: #534D56;
 }

 .q2 {
    margin-top: 150px;
    margin-bottom: 20px;
    font-size: 15px;
    text-align: center;
   
    color: #534D56;
 }

 input[type="checkbox"] {
    outline: 2px solid #FFAAEA;
    background-color: #EDE768;
    width: 15px;
    height: 15px;
    border-radius: 10px;
  }
  
 .submit-button {
    width: 65%;
    height: 50px;
    border: solid #FFAAEA;
    border-radius: 10px;
    outline: none;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    background-color: #83D4D4;
    color: #E9F4F8;
 }

 .generator-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .generator {
  
    /* Card size */
    width: 40%;
    height: 400px;
    margin: 0 auto;
  
    /* Card position */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-114%, 40%);
  
    /* Card border */
    border: 20px solid #FFAAEA;
    border-radius: 5px;
  
    /* Card background */
    background-color: #E9F4F8;
  
    /* Card shadow */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  
    /* Card text */
    text-align: center;
    font-family: arial;
    font-size: 20px;
    color: #534D56;
  }
  
  .name-field {
    width: 50%;
    height: 20px;
    border: none;
    border-radius: 10px;
    outline: none;
    margin-top: 150px;
    margin-bottom: 20px;
    font-size: 12px;
    text-align: center;
    background-color: #83D4D4;
    color: #E9F4F8;
  }
  
  .name-field::placeholder {
    color: #E9F4F8;
 }

 @media only screen and (max-width: 390px) {
    .generator {
        width: 100%;
    }
    .name-field {
        width: 80%;
        
        
    }
    .name-input {
        width: 70%;
        
    }
    .q1 {
        width: 80%;
        font-size: 0.9em;
        text-align:center;
    }
    .q2 {
        width: 80%;
        font-size: 0.9em;
    }
    .submit-button {
        width: 50%;
        font-size: 0.8em;
    }

      .generator-container {
        position: absolute;
        width: 80%;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

    

      .welcome {
         font-size: 1.5em;
         margin-top: 100%;
         padding-top: 55%;
         
        
         
       }
 
       /* .welcomeText {
         font-size: 1em;
         margin-bottom: -40%;
         } */

         

     

      
 }

 @media only screen and (max-width: 1280px) {
  .generator {
    width: 100%;
    
}
.name-field {
    width: 50%;
    
    
}
.name-input {
    width: 40%;
    
}
.q1 {
    width: 100%;
    font-size: 0.9em;
    text-align:center;
}
.q2 {
    width: 100%;
    font-size: 0.9em;
}
.submit-button {
    width: 30%;
    font-size: 0.8em;
}

  .generator-container {
    position: absolute;
    width: 80%;
    top: -25%;
    left: 50%;
    transform: translate(-50%, -53%);
  }



  .welcome {
     font-size: 1.5em;
     margin-top: 70%;
     padding-top: 55%;
     
    
     
   }
  

   /* .welcomeText {
     font-size: 1em;
     margin-bottom: -40%;
     } */

     

 


 }