
/* .card-container {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
   */



.card {


    /* Card size */
    width: 40%;
    height: 400px;
    margin: 0 auto;

    /* Card position */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-114%, 40%);


    /* Card border */
    border: 20px solid #FFAAEA;
    border-radius: 5px;

    /* Card background */
    background-color: #E9F4F8;

    /* Card shadow */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    /* Card text */
    text-align: center;
    font-family: arial;
    font-size: 20px;
    color: #534D56;
}

.name-field {
    width: 50%;
    height: 20px;
    border: none;
    border-radius: 10px;
    outline: none;
    margin-top: 150px;
    margin-bottom: 20px;
    font-size: 12px;
    text-align: center;
    background-color: #83D4D4;
    color: #E9F4F8;
}

.name-field::placeholder {
    color: #E9F4F8;
}

/* .lottoGen {
    width: 50%;
    height: 20px;
    border: none;
    border-radius: 10px;
    outline: none;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    text-align: center;
    background-color: #83D4D4;
    color: #E9F4F8;
} */

.results {
    font-size: 15px;
    color: #534D56;
}

.results-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.results-list li {
    margin: 0 10px;
    align-items: center;
}

.goose {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}