.Social {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #83D4D4;
   
    
}


#Social {
   
    padding-top: 1rem;
    position: relative;
  }
  
  /* .social-container {
    position: absolute;
    right: 100px;
    height:200px;

  }
   */
 
  .social-row {
    position: relative;
  }
  
  .social-content {
   
     display: flex;
    
    
  }
  
  .social-slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 8rem;
    gap: 4rem;
    padding: 0 1rem;
   
  
  }
  

  
  .social-slider::-webkit-scrollbar {
    height: 2rem;
   
  }
  
  .social-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    width: 80px;
    height: 80px;
    background: #FB6FC6;
    box-shadow: 0 1.25rem 2rem#FFAAEA;
    position: relative;
    transition: all 0.15s ease-in-out;
    color: #534D56; 
  }
  
  .social-card:hover {
    scale: 0.85;
    box-shadow: 0 2rem 3rem #83D4D4;
  }
  
  .social-card img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 40px;
    z-index: 1;
    transition: all 0.15s ease-in-out;
  }
  
  .social-card:hover img {
    scale: 2;
    transform: translateY(-1rem);
  }
  
  .social-card .social-name {
    position: absolute;
    font-size: 1rem;
    opacity: 0;
    z-index: 0;
    transition: all 0.15s ease-in;
  }
  
  .social-card:hover .social-name {
    display: block;
    transform: translateY(4rem);
    opacity: 1;
  }
  

  
 
  
  @media screen and (max-width: 1023px) {
  
  }
  
 
  
  



  @media only screen and (max-width: 480px) {
    .Social {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #83D4D4;
     
      
  }
  
  
  #Social {
     
      
      position: relative;
    }
    
    /* .social-container {
      position: absolute;
      right: 100px;
      height:200px;
  
    }
     */
   
    .social-row {
      position: relative;
    }
    
    .social-content {
     
       display: flex;
      
      
    }
    
    .social-slider {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      height: 4rem;
      gap: 2rem;
      padding: 0 1rem;
     
    
    }
    
  
    
    .social-slider::-webkit-scrollbar {
      height: 2rem;
     
    }
    
    .social-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 3rem;
      width: 40px;
      height: 40px;
      background: #FB6FC6;
      box-shadow: 0 1.25rem 2rem#FFAAEA;
      position: relative;
      transition: all 0.15s ease-in-out;
      color: #534D56; 
    }
    
    .social-card:hover {
      scale: 0.85;
      box-shadow: 0 2rem 3rem #83D4D4;
    }
    
    .social-card img {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      align-items: center;
      width: 20px;
      z-index: 1;
      transition: all 0.15s ease-in-out;
    }
    
    .social-card:hover img {
      scale: 2;
      transform: translateY(-1rem);
    }
    
    .social-card .social-name {
      position: absolute;
      font-size: 0.6rem;
      opacity: 0;
      z-index: 0;
      transition: all 0.15s ease-in;
    }
    
    .social-card:hover .social-name {
      display: block;
      transform: translateY(2rem);
      opacity: 1;
    }
  }
  
