
body {
    background-color: #83D4D4;
}

/* .footer {
    background-color: #EDE768;
    height: 150px;
    padding: 20px;
    color: #83D4D4;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    }
    
    .footer h1 {
      margin: 0;
      line-height: 1.5;
    }
     */
