
body {
    background-color: #83D4D4;
}

/* .footer {
    background-color: #EDE768;
    height: 150px;
    padding: 20px;
    color: #83D4D4;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    }
    
    .footer h1 {
      margin: 0;
      line-height: 1.5;
    }
     */

     /* .name-input {
        width: 50%;
        height: 20px;
        border: none;
        border-radius: 10px;
        outline: none;
        margin-top: 150px;
        margin-bottom: 20px;
        font-size: 12px;
        text-align: center;
        background-color: #83D4D4;
        color: #E9F4F8;
     }

     .ready {
        width: 50%;
        height: 20px;
        border: none;
        border-radius: 10px;
        outline: none;
        margin-top: 150px;
        margin-bottom: 20px;
        font-size: 12px;
        text-align: center;
        background-color: #83D4D4;
        color: #E9F4F8;
     }

     .generate {
        width: 50%;
        height: 20px;
        border: none;
        border-radius: 10px;
        outline: none;
        margin-top: 150px;
        margin-bottom: 20px;
        font-size: 12px;
        text-align: center;
        background-color: #83D4D4;
        color: #E9F4F8;
     }

     .submit-button {
        width: 80%;
        height: 40px;
        border: none;
        border-radius: 10px;
        outline: none;
        margin-top: 150px;
        margin-bottom: 20px;
        font-size: 12px;
        text-align: center;
        background-color: #83D4D4;
        color: #E9F4F8;
     }

     .generator-container {
        position: fixed;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
      .generator {
      
        /* Card size */
        /* width: 40%;
        height: 400px;
        margin: 0 auto;
      
        /* Card position */
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-114%, 40%);
      
        /* Card border */
        border: 20px solid #FFAAEA;
        border-radius: 5px;
      
        /* Card background */
        background-color: #E9F4F8;
      
        /* Card shadow */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      
        /* Card text */
        text-align: center;
        font-family: arial;
        font-size: 20px;
        color: #534D56;
      /* } */
      
      /* .name-field {
        width: 50%;
        height: 20px;
        border: none;
        border-radius: 10px;
        outline: none;
        margin-top: 150px;
        margin-bottom: 20px;
        font-size: 12px;
        text-align: center;
        background-color: #83D4D4;
        color: #E9F4F8;
      }
      
      .name-field::placeholder {
        color: #E9F4F8;
     }  */