.card {
    width: 750px;
    height: 450px;
    margin: 0 auto;

    /* Card position */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-114%, 40%);


    /* Card border */
    border: 20px solid #FFAAEA;
    border-radius: 5px;

    /* Card background */
    background-color: #E9F4F8;

    /* Card shadow */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    /* Card text */
    text-align: center;
    font-family: arial;
    font-size: 20px;
    color: #534D56;
}
  
  



.name-field::placeholder {
    color: #E9F4F8;
}

/* .lottoGen {
    width: 50%;
    height: 20px;
    border: none;
    border-radius: 10px;
    outline: none;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    text-align: center;
    background-color: #83D4D4;
    color: #E9F4F8;
} */

.results {
    font-size: 15px;
    color: #534D56;
}

.results-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}

.results-list li {
    margin: 0 10px;
    align-items: center;
    color:#E9F4F8;
    font-size: 20px;
    background-color:#FFAAEA;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display:flex;
    justify-content: center;
    align-items: center;


}

.goose {
    width: 250px;
    height: 250px;
    border-radius: 30px;
    border: solid 5px #83D4D4;
    margin-bottom: 40px;
    
}

@media only screen and (max-width: 390px) {
    body {
        width: 90%;
        height: 110vh;
    }

    .card {
        width: 100%;
        height: 200px; 
        transform: translate(-39%, 30%);
        margin: 0 auto;
        border: 8px solid #FFAAEA;
        padding-top: 100%;
        text-align: center;
        font-family: arial;
        font-size: 1em;
        
        }

    .results {
        font-size: 1em;
        margin-top: -290px;
        
    }

    .goose {
        width: 70%;
        height: 70%;
        margin-top: 10%;
       
    }

    .results-list li {
        margin: 0 4px;
        align-items: center;
        color:#E9F4F8;
        font-size: 1em;
        font-weight: bold;
        background-color:#FFAAEA;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display:flex;
        justify-content: center;
        align-items: center;
    
    
    }

      
}

@media only screen and (min-width: 1280px) and (max-width: 1600px) {
    body {
        width: 90%;
        height: 110vh;
    }

    .card {
        width: 60%;
        height: 40%;
        transform: translate(20%, 39.5%);
        margin: 0 auto;
        border: 15px solid #FFAAEA;
        padding-top: 35%;
        text-align: center;
        font-family: arial;
        font-size: 1.1em;
        position: static;
        
        }

    .results {
        font-size: 1em;
        margin-top: -460px;
        margin-bottom: 20px;
        padding-top: 20px;
    
       
        
    }

    .goose {
        width: 50%;
        height: 50%;
        
       
    }

    .results-list li {
        margin: 0 4px;
        align-items: center;
        color:#E9F4F8;
        font-size: 1em;
        font-weight: bold;
        background-color:#FFAAEA;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display:flex;
        justify-content: center;
        align-items: center;
    
    
    }

      
}

@media only screen and (min-width: 1280px) and (max-width: 1440px) {
    body {
        width: 90%;
        height: 100vh;
    }

    .card {
        width: 60%;
        height: 40%;
        transform: translate(-61%, 45%);
        margin: 0 auto;
        border: 15px solid #FFAAEA;
        padding-top: 35%;
        text-align: center;
        font-family: arial;
        font-size: 1.1em;
        
        }

    .results {
        font-size: 1em;
        margin-top: -370px;
        
        
    }

    .goose {
        width: 50%;
        height: 50%;
       
    }

    .results-list li {
        margin: 0 4px;
        align-items: center;
        color:#E9F4F8;
        font-size: 1em;
        font-weight: bold;
        background-color:#FFAAEA;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display:flex;
        justify-content: center;
        align-items: center;
    
    
    }

      
}