.footer {
  background-color: #EDE768;
  color: #83D4D4;
  
  left: 0;
  bottom: 0;
  width: 197vh;
  padding: 0px;
  position: relative;
}

.footer-inner {
  height: auto; /* change height to auto */
  color: #83D4D4;
  text-align: center;
  /* border-top: 10px solid #FFAAEA; */
  border-bottom: 10px solid #83D4D4;
  border-left: 10px solid #83D4D4;
  border-right: 10px solid #83D4D4;
  padding: 10px; /* added some padding too */
}

@media only screen and (max-width: 390px) {
  .footer {
    width: 110%;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1600px) {
  .footer {
    width: 111%;
  }
}