.footer {
  background-color: #EDE768;
  color: #83D4D4;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0px;
}

.footer-inner {
  height: 100px;
  color: #83D4D4;
  text-align: center;
  border-top: 10px solid #FFAAEA;
  border-bottom: 10px solid #83D4D4;
  border-left: 10px solid #83D4D4;
  border-right: 10px solid #83D4D4;
}

    